[submodule "lib/external/c-ares"]
	path = lib/external/c-ares
	url = https://github.com/c-ares/c-ares.git
[submodule "lib/external/openssl"]
	path = lib/external/openssl
	url = https://github.com/openssl/openssl.git
[submodule "lib/external/curl"]
	path = lib/external/curl
	url = https://github.com/Alexander--/curl
[submodule "lib/external/mbedtls"]
	path = lib/external/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "lib/external/nghttp2"]
	path = lib/external/nghttp2
	url = https://github.com/nghttp2/nghttp2
[submodule "upx"]
	path = upx
	url = https://github.com/upx/upx
[submodule "strip-nondeterminism"]
	path = strip-nondeterminism
	url = https://anonscm.debian.org/git/reproducible/strip-nondeterminism.git
